body{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 5vw;
}
h2{
    font-size: 2vw;
}
.loginContainer{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.restContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2vw;
}

#logo{
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    margin-bottom: 2vw;
}

#login{
width: 50vw;
margin-left: auto;
margin-right: auto;
padding: 1vw;
border: 1px solid gray;
border-radius: 3px;
-webkit-box-shadow: -4px 4px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 4px 18px 0px rgba(0,0,0,0.75);
box-shadow: -4px 4px 18px 0px rgba(0,0,0,0.75);
}
.menu, .content{
    width: 70vw;
}
.menu{
    margin-bottom: 1vw;
}
.nav{
    background-color: #57606f;
    border-radius: 2px;
}
.nav-pills .nav-link{
    border-radius: 1px;
    color: #dfe4ea;
    padding-bottom: 3vh;
    padding-top: 3vh;
}
.nav-pills .nav-link.active{
    background-color: transparent;
    color: white;
}
