body{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 5vw;
}
h2{
    font-size: 2vw;
}
.loginContainer{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.restContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

#logo{
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    margin-bottom: 2vw;
}

#login{
width: 50vw;
margin-left: auto;
margin-right: auto;
padding: 1vw;
border: 1px solid gray;
border-radius: 3px;
-webkit-box-shadow: -4px 4px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 4px 18px 0px rgba(0,0,0,0.75);
box-shadow: -4px 4px 18px 0px rgba(0,0,0,0.75);
}

.content{
    border:1px solid gray;
}
.table{
    margin: 0px;
}
.row{
    margin: 0px;
    width: 100vh;
}
.col-sm-12{
    padding: 0px;
}
.form-control{
    margin-left: 2vw;
    margin-right: 2vw;
}
/*  


NAVBAR  


*/

div#example_wrapper{
    width: max;
    margin: 0 !important;
}


.menu, .content{
    width: 70vw;
}
.nav{
    background-color: #57606f;
    border-radius: 2px;
}
.nav-pills .nav-link{
    border-radius: 1px;
    color: #dfe4ea;
    padding-bottom: 3vh;
    padding-top: 3vh;
}
.nav-pills .nav-link.active{
    background-color: transparent;
    color: white;
}
/* --------------------- */




/* for small screens */

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

.menu, .content{
width: 100vw;
border: none;
}

table, thead, tbody, th, td, tr { 
display: block; 
}


/* Hide table headers (but not display: none;, for accessibility) */
thead tr, tr th { 
position: absolute;
top: -9999px;
left: -9999px;
}

tr { border: 1px solid #ccc; }



table tr td { 
/* Behave  like a "row" */
border: none;
border-bottom: 1px solid #eee; 
position: relative;
padding: 0vw 0vw 0vw 23vw !important; 
}

td:before { 
border-right: 1px solid #ccc;
position: absolute;
top: 0;
bottom: 0;
left: 2vw;
right: 2vw;
width: 18vw; 
padding-right: 10px; 
white-space: nowrap;
}

/*
Label the data
*/
td:nth-of-type(1):before { content: "Nazwa"; }
td:nth-of-type(2):before { content: "NIP"; }
td:nth-of-type(3):before { content: "Status"; }
td:nth-of-type(4):before { content: "Zmiana"; }
}