body{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 5vw;
}
h2{
    font-size: 2vw;
}
.loginContainer{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.restContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0vw 2vw 0vw; 
}

#logo{
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    margin-bottom: 2vw;
}

#login{
width: 50vw;
margin-left: auto;
margin-right: auto;
padding: 1vw;
border: 1px solid gray;
border-radius: 3px;
-webkit-box-shadow: -4px 4px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 4px 18px 0px rgba(0,0,0,0.75);
box-shadow: -4px 4px 18px 0px rgba(0,0,0,0.75);
}

.menu, .content{
    width: 70vw;
}

.content{
    border:1px solid gray;
}
/* Table elements manipulation */    



.table{
    margin: 0px;
}

.row{
    margin: 0px;
}
.col-sm-12{
    padding: 0px;
}

.dataTables_length label, .dataTables_filter label, .pagination, .dataTables_info{
    padding: 0vw 1vw 0vw 1vw;
}
.pagination .paginate_button a{
    color: #333;
}

.pagination .paginate_button a:hover{
    background-color: #e1e5ec;
    color: #333;
}
.pagination .active a{
    background-color: #797f88;
    border-color: #797f88;
}

.col-sm-7, .col-sm-5, .col-sm-6{
    padding: 1vw 0vw 1vw 0vw;
}

tr.odd th, tr.even th{
    width: 5%
}
tr.odd td:nth-child(2), tr.even td:nth-child(2){
    width: 45%
}

thead tr th{
    border-top: 1px solid #dcdfe4 !important;
    border-right: 1px solid #dcdfe4 !important;
    border-bottom: 1px solid #dcdfe4 !important;
}

tbody tr td, tbody tr th{
    border-bottom: 1px solid #dcdfe4 !important;
    border-right: 1px solid #dcdfe4 !important;
}

ul.pagination li a:hover{
    background-color: #dcdfe4;
}

ul.pagination li:nth-child(1) a{
  
}

/**************************/
/*NAVBAR*/
.nav{
    background-color: #57606f;
    border-radius: 2px;
    padding-bottom: 3vh;
    padding-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2vw;
}
.nav-pills{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.nav-pills > li.active > a{
    background-color: transparent;
    color: white;
}
.nav-pills > li.active > a:hover{
    background-color: transparent;
    color: white;
}
.nav-pills > li > a{
    color: gray;
}
.nav-pills > li > a:hover{
    background-color: transparent;
    color: white;
}
.nav > li{
    float:none;
    display:inline-block;
}
/**************************/

/* for small screens */

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

.restContainer{
    margin: 0px;
}

.menu, .content{
width: 100vw;
border: none;
}

table, thead, tbody, th, td, tr { 
display: block; 
}


/* Hide table headers (but not display: none;, for accessibility) */
thead tr, tr th { 
position: absolute;
top: -9999px;
left: -9999px;
}

tr { border: 1px solid #ccc; }



table tr td { 
/* Behave  like a "row" */
border: none;
border-bottom: 1px solid #eee; 
position: relative;
padding: 0vw 0vw 0vw 23vw !important; 
}

td:before { 
border-right: 1px solid #ccc;
position: absolute;
top: 0;
bottom: 0;
left: 2vw;
right: 2vw;
width: 18vw; 
padding-right: 10px; 
white-space: nowrap;
}

/*
Label the data
*/
td:nth-of-type(1):before { content: "Nazwa"; }
td:nth-of-type(2):before { content: "NIP"; }
td:nth-of-type(3):before { content: "Status"; }
td:nth-of-type(4):before { content: "Zmiana"; }


.col-sm-7, .col-sm-5, .col-sm-6{
  padding: 2vw 0vw 2vw 0vw;
}

.nav{
    font-size: 4vw;
}

}